<ActionBar title="camera" class="action-bar"></ActionBar>
<ScrollView>
    <FlexboxLayout flexDirection="column-reverse">
        <Image [src]="imageTaken" flexGrow="3" class="p-15 img-rounded"></Image>
        <Button text="Take Photo" *ngIf="!cameraAvailable" class="btn btn-primary btn-active" (tap)="onTakePhoto()"
                flexGrow="1"></Button>
        <Button text="Request permissions" *ngIf="!cameraAvailable" class="btn btn-primary btn-active"
                (tap)="onRequestPermissions()" flexGrow="1"></Button>
        <Button text="SCAN YOUR BARCODE" *ngIf="!cameraAvailable" class="btn btn-primary btn-active" (tap)="onScan()"
                flexGrow="2"></Button>
    </FlexboxLayout>
    <StackLayout>
    <Label *ngIf="cameraAvailable" textAlignment="center" class="font-weight-bold" text="Camera is not Available"></Label>
    </StackLayout>
</ScrollView>